.App {
    min-height: 100vh;
    text-align: center;
    color: #d4d4d4;
    background-color: #282c34;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.App-dialog {
    width: 400px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 18px;
}

@media (max-width: 400px) {
    .App-dialog {
        width: 100%;
        margin: 0;
    }
}

.App-dialog-tabset {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.App-dialog-tab {
    width: 110px;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.App-dialog-tab > a {
    color: #ffffff;
    text-decoration: none;
}

.App-dialog-tab.selected {
    color: #ffd503;
}

.App-dialog-tab.selected > a {
    color: #ffd503;
}

.App-dialog-tab:first-child {
    padding-left: 0;
}

.App-dialog-tab:last-child {
    padding-right: 0;
}

.App-dialog-panel {
    text-align: left;
}

.App-dialog form {
    display: flex;
    flex-direction: column;
}


.App-dialog input, label, button {
    margin: 4px 0;
    padding: 4px;
    font-size: 1em;
}

.App-dialog button {
    padding: 2px 10px;
}

.App-dialog button {
    align-self: flex-end;
    margin-top: 8px;
}

.App-dialog label {
    align-self: flex-start;
    padding-right: 4px;
    margin-bottom: 0;
}

.App-dialog input {
    margin-top: 0;
}

.App-dialog-field-error {
    margin-top: 0;
    font-size: 0.75em;
    align-self: flex-end;
    color: red;
}

.ConferenceInfo {
    display: flex;
    flex-direction: column;
}

.ConferenceInfo .Row {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    border-bottom: 1px solid #d4d4d4;
}

.ConferenceInfo .Row:last-child {
    border-bottom: none;
    align-self: flex-end;
}

.ConferenceInfo .Label {
    color: #ffffff;
    padding-right: 8px;
}

.ConferenceInfo .Memo {
    color: #d4d4d4;
}

.ConferenceInfo .Value {
    color: #ffd503;
}

.ConferenceInfo button {
    font-size: 0.9em;
    padding: 4px 10px;
    margin-left: 10px;
}