.App {
    min-height: 100vh;
    /*text-align: center;*/
    color: #fff;
    background-color: #353940;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}*/

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.App-dialog {
    width: 530px;
	max-width: 100%;/**/
    margin: 0 auto;
    padding: 15px;
}

@media (max-width: 1280px) {
	.App-dialog {
		width: 360px;
	}
}
@media (max-width: 400px) {
    .App-dialog {
        max-width: 100%;
        margin: 0;
    }
}

.App-dialog a {
    /*color: #ffd503;*/
}

.App-dialog  b {
    /*color: #ffffff;*/
    font-weight: 700;
}


.App-dialog-tabset {
	margin-top: 80px;
    width: 100%;
    /*display: flex;
    flex-direction: row;*/
}

.App-dialog-tab {
	display: block;
    width: 100%;
    padding: 20px 30px;
	font-size: 16px;
	line-height: 22px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
	background: #353840;
	border-radius: 6px;
	margin-bottom: 10px;
}
.App-dialog-tab br {
	display: none;
}
.App-dialog-tab > a {
    /*color: #ffffff;*/
    text-decoration: none;
}

.App-dialog-tab.selected {
    color: #fff;
	display: none;
}

.App-dialog-tab.selected > a {
    color: #ffd503;
}

/*.App-dialog-tab:first-child {
    padding-left: 0;
}

.App-dialog-tab:last-child {
    padding-right: 0;
}*/

.App-dialog-panel {
    text-align: left;
	margin-top: 40px;
}

.App-dialog form {
    display: flex;
    flex-direction: column;
}


.App-dialog input[type="text"], 
.App-dialog input[type="email"], 
.App-dialog input[type="password"], 
.App-dialog button, 
.App-dialog textarea 
{
    /*margin: 4px 0;
    padding: 4px;*/
    font-size: 16px;
    font-family: 'Segoe UI', Arial;
}

.App-dialog button {
    padding: 20px 30px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	color: #353840;
	display: block;
	width: 100%;
	background-color: #FFD503;
	text-align: center;
	border: none;
	border-radius: 6px;
	margin-top: 30px;
	cursor: pointer;
}
.App-dialog button:hover {
	background-color: #f0c800;
}
.App-dialog button:active {
	background-color: #e5bf00;
}

.App-dialog label {
    align-self: flex-start;
    padding-right: 4px;
    margin-bottom: 0;
	font-size: 16px;
	line-height: 22px;
	margin: 24px 0 10px 0;
}
.App-dialog label:first-child {
	margin-top: 0;
}

.App-dialog input[type="text"], 
.App-dialog input[type="email"],
.App-dialog input[type="password"],
.App-dialog textarea 
{
	border: 1px solid #8692A6;
	border-radius: 6px;
	padding-left: 20px;
    padding-right: 20px;
}

.App-dialog input[type="text"],
.App-dialog input[type="email"],
.App-dialog input[type="password"]
{
    height: 64px;
}
.App-dialog textarea {
    height: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;
}
.App-dialog input[type="text"]:hover, 
.App-dialog input[type="email"]:hover,
.App-dialog input[type="password"]:hover,
.App-dialog textarea:hover {
	border-color: #353840;
}
.App-dialog input[type="text"]:focus, 
.App-dialog input[type="email"]:focus,
.App-dialog input[type="password"]:focus,
.App-dialog textarea:focus {
	box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
}

.App-dialog-field-error {
    margin-top: 0;
    font-size: 0.9em;
    align-self: flex-end;
    color: red;
}
.fieldset {
    margin: 15px 0;
}
.fieldset-check label {
    cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
    vertical-align: middle;
    margin: 0 2px;
}

.ConferenceInfo {
    display: flex;
    flex-direction: column;
}

.ConferenceInfo .Row {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    border-bottom: 1px solid #d4d4d4;
    padding: 4px 0;
}

.ConferenceInfo .Row:last-child {
    border-bottom: none;
    align-self: flex-end;
}

.ConferenceInfo .Label {
    /*color: #ffffff;*/
    padding-right: 8px;
}

.ConferenceInfo .Memo {
    color: #666;
    font-weight: 700;
}

.ConferenceInfo .Value {
    /*color: #ffd503;*/
    font-weight: 700;
}

.ConferenceInfo button {
    font-size: 0.9em;
    padding: 4px 10px;
    margin-left: 10px;
}

.App-conference {
    display: flex;
    background: #282c34;
    flex-wrap: wrap;
}

.App-conference-title {
    width: 100%;
    /* margin-bottom: 10px; */
    background: #6d6e70;
    color: #ffd503;
    border-bottom: 1px white solid;
    max-height: 4em;
    display: flex;

	-webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.App-conference-title h3 {
	margin: 0;
}

.App-conference-title .text {
    width: 100%;
	padding: 5px 15px;
}

.App-conference-title div.icon {
    color: white;
    align-self: center;
	height: 48px;
}

.App-conference-title img.icon {
	cursor: pointer;
}

.App-conference-panel {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
}

.LoginForm-end-line {
	margin-top: 12px;
	text-align: right;
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
}

.LoginForm-end-line a {
	font-size: 16px;
	text-decoration: none;
	color: #353840;
}

.streamBox {
    margin: 15px auto;
    border: 3px double gray;
	position: relative;
	max-width: 480px;
	min-height: 360px;
}

.streamControl {
    display: block;
    position: absolute;
	top: 0;
	left: 0;
	padding: 4px;
	max-width: 100%;
}

.streamControl > div {
    padding: 0 10px;
    margin: 0;
    position: relative;
    background: #6d6e70;
	border-radius: 4px;
	z-index: 2;
}

.streamControl > div > span {
	display: inline-block;
	margin-right: 5px;
	font-size: 16px;
	vertical-align: text-bottom;
}

.streamControl > div > div {
    display: inline-block;
}

.streamControl > div > div > img {
    vertical-align: text-bottom;
    margin: 0 4px;
    width: 1.2em;
    height: 1.2em;
    height: 1.2em;
	cursor: pointer;
}

.streamView {
    display: block;
	width: 100%;
    /* width: 480px;
    height: 350px; */
}

/*
New styles
*/
h1, h2 {
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
	margin: 1em 0;
}
h3 {
	font-size: 20px;
	line-height: 38px;
	font-weight: 600;
	margin: 22px 0 12px;
}
.middle-font-text {
	font-size: 1.25em;
}
.semibold {
	font-weight: 600;
}
.color-gray {
	color: #8692A6;
}
input, textarea, button {
	outline: none !important;
}
a {
	color: #4161da;
	text-decoration: underline;
}
a:hover, .section-black a:hover {
	color: #96a8eb;
}
@media all and (max-width: 991.98px) {
	h1, h2 {
		font-size: 26px;
		line-height: 38px;
		margin: 0.8em 0;
	}
	h3 {
		font-size: 18px;
		line-height: 34px;
	}
}
ol, ul {
	list-style-type: none;
	counter-reset: item;
	padding: 0;
	margin: 0;
}
ul > li {
	display: table;
	margin: 0 0 12px;
	position: relative;
}
ul > li:before {
	display: table-cell;
	content: '•';
	font-size: 1.1em;
	width: 23px;
	color: #4161da;
}
ol > li {
	display: table;
	counter-increment: item;
	margin: 0 0 12px;
}
ol > li:before {
	content: counters(item, ". ") ". ";
	display: table-cell;
	padding-right: 0.7em;
	white-space: nowrap;
}
ol li ol > li:before {
	content: counters(item, ". ") " ";
}

table {
	width: 100%;
	border-collapse: collapse;
}
table th,
table td {
	vertical-align: top;
	text-align: left;
	padding: 5px;
}
.table-no-border {
	width: 100%;
}
.table-no-border td {
	padding: 4px 12px 4px 0;
}

/* split screen */
.split-screen {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	/*display: table;*/
	display: flex;
	flex-direction: row;
}
.split-screen__col {
	/*height: 100%;*/
	vertical-align: middle;
	width: 50%;
	padding: 90px;
	/*display: table-cell;*/
	flex-direction: column;
    align-items: center;
	display: flex;
}
.section-black {
	background-color: #353940;
	color: #fff;
}
.section-white {
	background-color: #fff;
	color: #282C34;
}
.split-screen-center {
	margin: auto;
}
@media all and (max-width: 1400px) {
	.split-screen__col {
		padding: 40px;
	}
}
@media all and (max-width: 991.98px) {
	.split-screen, .split-screen__col {
		display: block;
		height: auto;
		width: 100%;
	}
	.split-screen__col {
		padding: 25px;
	}
}
.section-black a {
	color: #fff;
}
.heading-logo {
	display: inline-block;
	vertical-align: middle;
	max-width: 70px;
	max-height: 70px;
	margin-right: 20px;
}
@media all and (max-width: 480px) {
	.heading-logo {
		display: block;
		margin: 0 auto 25px;
	}
}
.error-text {
	color: red;
}
.dont-break-out {
	/* These are technically the same, but use both */
	
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	
	word-break: break-all;
	/* Instead use this non-standard one: */
	
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}