.App {
    min-height: 100vh;
    text-align: center;
    color: #d4d4d4;
    background-color: #282c34;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.App-dialog {
    width: 400px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 18px;
}

@media (max-width: 400px) {
    .App-dialog {
        width: 100%;
        margin: 0;
    }
}

.App-dialog a {
    color: #ffd503;
}

.App-dialog  b {
    color: #ffffff;
    font-weight: normal;
}


.App-dialog-tabset {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.App-dialog-tab {
    width: 110px;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.App-dialog-tab > a {
    color: #ffffff;
    text-decoration: none;
}

.App-dialog-tab.selected {
    color: #ffd503;
}

.App-dialog-tab.selected > a {
    color: #ffd503;
}

.App-dialog-tab:first-child {
    padding-left: 0;
}

.App-dialog-tab:last-child {
    padding-right: 0;
}

.App-dialog-panel {
    text-align: left;
}

.App-dialog form {
    display: flex;
    flex-direction: column;
}


.App-dialog input, label, button {
    margin: 4px 0;
    padding: 4px;
    font-size: 1em;
}

.App-dialog button {
    padding: 2px 10px;
}

.App-dialog button {
    align-self: flex-end;
    margin-top: 8px;
}

.App-dialog label {
    align-self: flex-start;
    padding-right: 4px;
    margin-bottom: 0;
}

.App-dialog input {
    margin-top: 0;
}

.App-dialog-field-error {
    margin-top: 0;
    font-size: 0.9em;
    align-self: flex-end;
    color: red;
}

.ConferenceInfo {
    display: flex;
    flex-direction: column;
}

.ConferenceInfo .Row {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    border-bottom: 1px solid #d4d4d4;
}

.ConferenceInfo .Row:last-child {
    border-bottom: none;
    align-self: flex-end;
}

.ConferenceInfo .Label {
    color: #ffffff;
    padding-right: 8px;
}

.ConferenceInfo .Memo {
    color: #d4d4d4;
}

.ConferenceInfo .Value {
    color: #ffd503;
}

.ConferenceInfo button {
    font-size: 0.9em;
    padding: 4px 10px;
    margin-left: 10px;
}

.App-conference {
    display: flex;
    background: #282c34;
    flex-wrap: wrap;
}

.App-conference-title {
    width: 100%;
    margin-bottom: 10px;
    background: #6d6e70;
    color: #ffd503;
    border-bottom: 1px white solid;
    max-height: 4em;
    display: flex;
}

.App-conference-title .text {
    width: 100%
}

.App-conference-title .icon {
    color: white;
    align-self: center;
}

.App-conference-panel {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
}

.LoginForm-end-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LoginForm-end-line a {
    align-self: flex-end;
    font-size: 0.9em;
}

.streamBox {
    margin: 13px 2px 2px 2px;
    padding: 13px 2px 2px 2px;
    border: 3px double gray;
}

.streamControl {
    display: block;
    position: absolute;
    margin-top: -30px;
}

.streamControl > div {
    padding: 0 10px;
    margin: 0;
    position: relative;
    background: #6d6e70;
}

.streamControl > div > div {
    display: inline-block;
}

.streamControl > div > div > img {
    vertical-align: text-top;
    margin-left: 4px;
    width: 1.2em;
    height: 1.2em;
}

.streamView {
    display: block;
    width: 480px;
    height: 350px;
}